body{
    background-color: #f4efef;
    align-items: center;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #F50000;
    text-decoration: underline;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
}

#food1{
    width: 30%;
    float: left;
    margin-top: 13em;
}
#food2{
    width: 30%;
    float: right;
    margin-top: 13em;
}

div{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322), 0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129), 0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145), 0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871), 0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468), 0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

#log{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #F50000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: auto;
    color: white;
    border: #F50000;
    width: 125px;
    height: 40px;
    font-weight: bold;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

input{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #F50000;
    width: 250px;
    height: 40px;
    border: 3px solid #F24E1E;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#mail{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #F50000;
    width: 250px;
    height: 40px;
    border: 3px solid #F24E1E;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #F50000;
}

